html,
body,
input,
div,
p {
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-image: url("./imgs/bg.jpg");
    background-size: cover;
    width: 100%;
}